.rhc-theme {

    /* Kleurenpalet */
  --rhc-color-cool-grey-50: lab(98.1606% -.419527 -1.20426);
    --rhc-color-cool-grey-100: lab(96.3162% -.834286 -2.41585);
    --rhc-color-cool-grey-200: lab(91.7084% -.970989 -4.63111);
    --rhc-color-cool-grey-300: lab(84.7674% -1.77041 -7.16529);
    --rhc-color-cool-grey-400: lab(66.3288% -2.05749 -12.7674);
    --rhc-color-cool-grey-500: lab(48.1599% -1.92717 -14.7221);
    --rhc-color-cool-grey-600: lab(35.5384% -1.67498 -13.4883);
    --rhc-color-cool-grey-700: lab(26.9527% -1.47615 -14.0195);
    --rhc-color-cool-grey-800: lab(16.224% -.475198 -13.2269);
    --rhc-color-cool-grey-900: lab(7.77615% 1.58731 -14.2945);
    --rhc-color-lichtblauw-50: lab(96.6355% -2.52777 -3.01356);
    --rhc-color-lichtblauw-100: lab(93.3009% -4.84714 -6.50007);
    --rhc-color-lichtblauw-200: lab(89.9547% -7.2248 -9.49671);
    --rhc-color-lichtblauw-300: lab(86.6875% -9.18028 -12.3644);
    --rhc-color-lichtblauw-400: lab(83.3951% -11.1532 -15.8097);
    --rhc-color-lichtblauw-500: lab(78.0494% -14.2591 -20.8165);
    --rhc-color-violet-50: lab(89.0839% 10.674 -3.56715);
    --rhc-color-violet-100: lab(78.2123% 22.0816 -7.38403);
    --rhc-color-violet-200: lab(67.2389% 34.1986 -10.0029);
    --rhc-color-violet-300: lab(57.0201% 45.9133 -12.3074);
    --rhc-color-violet-400: lab(47.783% 55.972 -12.1804);
    --rhc-color-violet-500: lab(37.0268% 62.4448 -4.45344);
    --rhc-color-paars-50: lab(88.5634% 3.9399 -4.51019);
    --rhc-color-paars-100: lab(76.7556% 7.78613 -9.38058);
    --rhc-color-paars-200: lab(64.3573% 12.4927 -14.9271);
    --rhc-color-paars-300: lab(51.9402% 17.4917 -20.2782);
    --rhc-color-paars-400: lab(39.1529% 23.0371 -25.9486);
    --rhc-color-paars-500: lab(17.4938% 32.6927 -35.3236);
    --rhc-color-hemelblauw-50: lab(91.968% -4.41468 -7.97393);
    --rhc-color-hemelblauw-100: lab(83.9288% -8.51128 -15.4776);
    --rhc-color-hemelblauw-200: lab(75.9185% -11.9179 -23.5142);
    --rhc-color-hemelblauw-300: lab(68.0734% -13.8912 -30.7876);
    --rhc-color-hemelblauw-400: lab(60.7876% -14.0419 -37.7666);
    --rhc-color-hemelblauw-500: lab(49.0828% -6.92219 -48.3705);
    --rhc-color-donkerblauw-50: lab(91.0388% -4.01348 -5.70285);
    --rhc-color-donkerblauw-100: lab(82.2684% -8.28371 -11.0714);
    --rhc-color-donkerblauw-200: lab(73.1326% -11.9298 -16.9255);
    --rhc-color-donkerblauw-300: lab(64.0625% -14.3926 -22.6076);
    --rhc-color-donkerblauw-400: lab(55.3796% -15.7812 -27.6199);
    --rhc-color-donkerblauw-500: lab(41.0846% -10.8751 -35.4603);
    --rhc-color-donkerblauw-600: lab(28.6237% -9.36292 -26.3287);
    --rhc-color-donkerblauw-700: lab(24.8713% -6.61299 -21.2813);
    --rhc-color-mintgroen-50: lab(96.4444% -5.30979 .25214);
    --rhc-color-mintgroen-100: lab(93.2572% -10.7485 1.09693);
    --rhc-color-mintgroen-200: lab(89.789% -16.0141 1.58041);
    --rhc-color-mintgroen-300: lab(86.3781% -21.1954 2.2063);
    --rhc-color-mintgroen-400: lab(83.085% -25.9241 3.06964);
    --rhc-color-mintgroen-500: lab(77.9151% -33.7385 4.92466);
    --rhc-color-mosgroen-50: lab(92.6838% -2.29165 8.77136);
    --rhc-color-mosgroen-100: lab(85.2049% -4.80661 17.7397);
    --rhc-color-mosgroen-200: lab(77.6244% -7.22566 27.5072);
    --rhc-color-mosgroen-300: lab(70.0605% -8.82173 37.0503);
    --rhc-color-mosgroen-400: lab(62.7026% -10.4094 46.4429);
    --rhc-color-mosgroen-500: lab(49.8628% -11.0268 53.99);
    --rhc-color-groen-50: lab(92.4675% -6.52072 7.30965);
    --rhc-color-groen-100: lab(84.9453% -12.9336 15.5685);
    --rhc-color-groen-200: lab(77.2572% -20.1098 23.9692);
    --rhc-color-groen-300: lab(69.7193% -26.3629 32.3674);
    --rhc-color-groen-400: lab(62.1549% -32.6113 40.5879);
    --rhc-color-groen-500: lab(49.859% -40.1527 49.8112);
    --rhc-color-groen-600: lab(34.8916% -28.0595 34.7848);
    --rhc-color-groen-700: lab(30.0102% -24.3688 29.9671);
    --rhc-color-donkergroen-50: lab(90.6476% -3.10281 1.58287);
    --rhc-color-donkergroen-100: lab(81.0332% -6.6911 3.15323);
    --rhc-color-donkergroen-200: lab(71.1944% -10.5787 5.3858);
    --rhc-color-donkergroen-300: lab(61.2464% -13.9956 6.90337);
    --rhc-color-donkergroen-400: lab(51.0297% -17.6974 9.21556);
    --rhc-color-donkergroen-500: lab(33.6573% -24.1851 14.3935);
    --rhc-color-bruin-50: lab(92.7685% -.266373 8.42977);
    --rhc-color-bruin-100: lab(85.2264% .337929 16.3443);
    --rhc-color-bruin-200: lab(77.8298% .612348 25.9535);
    --rhc-color-bruin-300: lab(70.1363% 2.06888 34.499);
    --rhc-color-bruin-400: lab(62.6337% 3.58546 43.8043);
    --rhc-color-bruin-500: lab(50.0318% 7.93886 53.8093);
    --rhc-color-donkerbruin-50: lab(89.7958% 2.68438 1.50963);
    --rhc-color-donkerbruin-100: lab(79.6042% 4.94155 4.01715);
    --rhc-color-donkerbruin-200: lab(68.9141% 7.94774 6.37891);
    --rhc-color-donkerbruin-300: lab(57.9734% 11.4202 8.50798);
    --rhc-color-donkerbruin-400: lab(47.1252% 15.2334 11.6156);
    --rhc-color-donkerbruin-500: lab(28.1513% 22.9294 18.6404);
    --rhc-color-geel-50: lab(98.2694% -2.61396 14.8217);
    --rhc-color-geel-100: lab(96.3978% -4.08134 28.9161);
    --rhc-color-geel-200: lab(94.5885% -5.13062 43.851);
    --rhc-color-geel-300: lab(93.1519% -5.86516 57.5875);
    --rhc-color-geel-400: lab(91.5429% -5.58054 70.1122);
    --rhc-color-geel-500: lab(89.4547% -4.12396 84.3338);
    --rhc-color-donkergeel-50: lab(96.5739% .82618 13.4877);
    --rhc-color-donkergeel-100: lab(93.263% 2.44585 26.7769);
    --rhc-color-donkergeel-200: lab(89.8663% 3.91346 40.4102);
    --rhc-color-donkergeel-300: lab(86.7685% 6.91116 54.0395);
    --rhc-color-donkergeel-400: lab(83.8143% 10.713 66.1213);
    --rhc-color-donkergeel-500: lab(79.5118% 19.1864 79.5328);
    --rhc-color-oranje-50: lab(93.7335% 3.93096 10.4715);
    --rhc-color-oranje-100: lab(87.2099% 8.72198 21.0103);
    --rhc-color-oranje-200: lab(80.7807% 14.2585 32.6216);
    --rhc-color-oranje-300: lab(74.8819% 20.6777 44.6201);
    --rhc-color-oranje-400: lab(69.1079% 27.5559 56.1792);
    --rhc-color-oranje-500: lab(60.22% 41.4616 68.0716);
    --rhc-color-rood-50: lab(90.9441% 9 4.42003);
    --rhc-color-rood-100: lab(81.9219% 18.5179 8.88067);
    --rhc-color-rood-200: lab(73.1867% 28.9404 15.4712);
    --rhc-color-rood-300: lab(64.93% 40.0433 22.4035);
    --rhc-color-rood-400: lab(57.4322% 50.1028 31.7302);
    --rhc-color-rood-500: lab(47.7707% 64.4147 51.2307);
    --rhc-color-roze-50: lab(95.7567% 6.02838 -2.57348);
    --rhc-color-roze-100: lab(91.285% 12.5484 -4.95217);
    --rhc-color-roze-200: lab(87.0089% 18.3606 -7.03892);
    --rhc-color-roze-300: lab(82.6736% 25.2414 -9.71369);
    --rhc-color-roze-400: lab(78.6316% 31.565 -11.4082);
    --rhc-color-roze-500: lab(72.0236% 42.1696 -14.7258);
    --rhc-color-robijnrood-50: lab(89.5247% 12.4445 -2.86425);
    --rhc-color-robijnrood-100: lab(79.192% 25.4479 -4.72667);
    --rhc-color-robijnrood-200: lab(69.0508% 39.4333 -6.53079);
    --rhc-color-robijnrood-300: lab(59.877% 52.3112 -5.95554);
    --rhc-color-robijnrood-400: lab(52.0817% 63.0826 -3.44766);
    --rhc-color-robijnrood-500: lab(43.9506% 69.9871 9.09955);
    --rhc-color-lintblauw-50: lab(89.8499% -1.45677 -4.28193);
    --rhc-color-lintblauw-100: lab(79.1453% -2.68739 -9.23795);
    --rhc-color-lintblauw-200: lab(68.2594% -3.39949 -14.3026);
    --rhc-color-lintblauw-300: lab(57.7275% -4.50012 -18.6553);
    --rhc-color-lintblauw-400: lab(46.2126% -4.53943 -24.3056);
    --rhc-color-lintblauw-500: lab(27.0505% -.642628 -33.1878);
    --rhc-color-lintblauw-600: lab(18.8161% -.263393 -23.533);
    --rhc-color-lintblauw-700: lab(16.1519% .064075 -20.2861);
    --rhc-color-wit: lab(100% 0 0);
    --rhc-color-zwart: lab(0% 0 0);
  --rhc-color-transparent: rgba(0, 0, 0, 0);

  /* Typografie */
  --rhc-text-font-weight-bold: 700;
  --rhc-text-font-weight-semi-bold: 600;
  --rhc-text-font-weight-regular: 400;
  --rhc-text-font-family-sans: 'RijksSansVF', 'Fira Sans', 'Arial', 'Verdana', sans-serif;
  --rhc-text-line-height-sm: 125%;
  --rhc-text-line-height-md: 150%;

  /* Kaders */
  --rhc-border-radius-round: 999px;
  --rhc-border-radius-none: 0px;
  --rhc-border-radius-sm: 2px;
  --rhc-border-radius-md: 4px;
  --rhc-border-width-sm: 1px;
  --rhc-border-width-md: 2px;
  --rhc-border-width-none: 0px;

  /* Maatvoering */
  --rhc-size-2xs: 0.0625rem;
  --rhc-size-xs: 0.125rem;
  --rhc-size-sm: 0.25rem;
  --rhc-size-md: 0.5rem;
  --rhc-size-lg: 0.75rem;
  --rhc-size-xl: 1rem;
  --rhc-size-2xl: 1.5rem;
  --rhc-size-3xl: 2rem;
  --rhc-size-4xl: 2.5rem;
  --rhc-size-5xl: 3rem;

  /* Afstanden */
  --rhc-space-none: 0;
  --rhc-space-2xs: var(--rhc-size-2xs);
  --rhc-space-xs: var(--rhc-size-xs);
  --rhc-space-sm: var(--rhc-size-sm);
  --rhc-space-md: var(--rhc-size-md);
  --rhc-space-lg: var(--rhc-size-lg);
  --rhc-space-xl: var(--rhc-size-xl);
  --rhc-space-2xl: var(--rhc-size-2xl);
  --rhc-space-3xl: var(--rhc-size-3xl);
  --rhc-space-4xl: var(--rhc-size-4xl);
  --rhc-space-5xl: var(--rhc-size-5xl);

}
